@font-face {
    font-family: "Lora", serif;
    font-display: swap;
    src: url("../fonts/Lora-VariableFont_wght.ttf") format ("ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Marcellus", serif;
    font-display: swap;
    src: url("../fonts/Marcellus-Regular.ttf") format ("ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Lora", serif;
    font-display: swap;
    src: url("../fonts/Lora-Italic-VariableFont_wght.ttf") format ("ttf");
    font-weight: 500;
    font-style: italic;
}

:root {
    --dark-color: #242424;
    --gold-color: #c3935b;
    --white-color: #fff;
    --grey-color: #777;
    --light-grey: #dfdfdf;
    --lora-font: "Lora", serif;
    --marcellus-font: "Marcellus", serif;
    --footer-bg: #eaeaea;
    --main-bg: #f4f4f4;
}

.btn-main {
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px 0;
    transition: all 0.5s ease;
}

.btn-outline-white {
    border: 1px solid #fff;
    color: var(--white-color);
    width: 113px;
    background: none;
}

.btn-outline-white:hover {
    background: var(--white-color);
    color: #000;
}

.btn-white {
    background: #fff;
    color: #000;
    width: 108px;
    border: 1px solid var(--white-color);
}

.btn-white:hover {
    background: none;
    color: var(--white-color);
}

.btn-outline-grey {
    border: 1px solid var(--light-grey);
}

.btn-grey {
    background-color: var(--grey-color);
}

.container {
    width: 1170px;
    margin: 0 auto;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration-line: none;
}

body {
    font-family: var(--lora-font);
    font-size: 14px;
    font-weight: 400;
}

/* Header*/

header {
    background: #040404;
    padding: 20px 0;
    font-family: var(--marcellus-font);
}

.nav-menu ul {
    display: flex;
    column-gap: 30px;
}

.nav-menu a,
.nav-account a {
    color: var(--white-color);
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    transition: all 1s ease;
    display: flex;
}

.nav-menu a:hover,
.nav-account a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.nav-icons button {
    background: none;
    border: none;
}

.nav-cart path,
.nav-search path {
    transition: all 1s ease;
}

.nav-cart:hover path,
.nav-search:hover path {
    fill: var(--gold-color);
}

.nav-cart span {
    color: var(--white-color);
    text-transform: uppercase;
}

/* Main section */

.main {
    background: url("./../images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000;
    color: var(--white-color);
    padding-top: 160px;
    padding-bottom: 240px;
}

.main-info span {
    font-size: 22px;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 10px;
}

.main-info h1 {
    font-family: var(--marcellus-font);
    font-size: 54px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.main-info p {
    margin-bottom: 35px;
}

.main-info div {
    column-gap: 15px;
}

/* Footer */

footer {
    color: var(--grey-color);
    padding: 60px 0 70px;
    font-family: var(--lora-font);
}

.footer-contacts div {
    margin-bottom: 10px;
}

.footer-contacts div:last-child {
    margin-bottom: 0;
}

.footer-contacts div {
    column-gap: 5px;
}

.footer-info {
    margin-bottom: 30px;
}

.footer-logo {
    margin-bottom: 15px;
}

.post {
    column-gap: 15px;
}

footer h5 {
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: var(--marcellus-font);
}

.post h6 {
    text-transform: uppercase;
    color: var(--dark-color);
    margin-bottom: 11px;
    font-size: 14px;
    font-family: var(--marcellus-font);
    max-width: 224px;
}

.post span {
    opacity: 0.5;
}

.post:last-child {
    margin-top: 30px;
}

.footer-stores a,
.footer-links a {
    color: var(--grey-color);
}

.footer-stores li,
.footer-links li {
    margin-bottom: 10px;
}

.footer-stores li:last-child,
.footer-links li:last-child {
    margin-bottom: 0px;
}
