@font-face {
    font-family: "Lora", serif;
    font-display: swap;
    src: url("../fonts/Lora-VariableFont_wght.ttf") format ("ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Marcellus", serif;
    font-display: swap;
    src: url("../fonts/Marcellus-Regular.ttf") format ("ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Lora", serif;
    font-display: swap;
    src: url("../fonts/Lora-Italic-VariableFont_wght.ttf") format ("ttf");
    font-weight: 500;
    font-style: italic;
}

:root {
    --dark-color: #242424;
    --gold-color: #c3935b;
    --white-color: #fff;
    --grey-color: #777;
    --light-grey: #dfdfdf;
    --lora-font: "Lora", serif;
    --marcellus-font: "Marcellus", serif;
    --footer-bg: #eaeaea;
    --main-bg: #f4f4f4;
}

.btn-main {
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px 0;
    transition: all 0.5s ease;
}

.btn-outline-white {
    border: 1px solid #fff;
    color: var(--white-color);
    width: 113px;
    background: none;
}

.btn-outline-white:hover {
    background: var(--white-color);
    color: #000;
}

.btn-white {
    background: #fff;
    color: #000;
    width: 108px;
    border: 1px solid var(--white-color);
}

.btn-white:hover {
    background: none;
    color: var(--white-color);
}

.btn-grey {
    background-color: var(--grey-color);
    background: var(--grey-color);
    color: var(--white-color);
    border: 1px solid var(--grey-color);
    width: 108px;
}

.btn-grey:hover {
    background: #000;
    border: 1px solid #000;
}

.btn-outline-grey {
    border: 1px solid var(--light-grey);
    background: none;
    color: #000;
    width: 113px;
}

.btn-outline-grey:hover {
    background: var(--light-grey);
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.section-mg {
    padding-top: 100px;
}

.section-mb {
    padding-bottom: 100px;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration-line: none;
}

body {
    font-family: var(--lora-font);
    font-size: 14px;
    font-weight: 400;
}

.italic-text {
    color: var(--gold-color);
    font-style: italic;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 22px;
}

.section-title {
    font-family: var(--marcellus-font);
    font-size: 30px;
    color: var(--dark-color);
    text-transform: uppercase;
}

.section-bg {
    background: #f4f4f4;
}

.product-btn {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 100%);
    width: 80px;
    padding: 8px 0;
    background: #fff;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.25);
    opacity: 0;
    transition: all 0.25s linear;
}

.product-item:hover .product-btn {
    opacity: 1;
    transform: translate(-50%, -50%);
}

.product-card path,
.product-search path {
    fill: var(--grey-color);
}

/* Header*/

header {
    background: #040404;
    padding: 20px 0;
    font-family: var(--marcellus-font);
}

.nav-menu ul {
    display: flex;
    justify-content: space-between;
}

.nav-menu a,
.nav-account a {
    color: var(--white-color);
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    transition: all 1s ease;
    display: flex;
}

.nav-menu a:hover,
.nav-account a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.nav-icons a {
    cursor: pointer;
}

.nav-icons {
    column-gap: 8px;
}

.nav-cart {
    column-gap: 5px;
}

.nav-cart path,
.nav-search path {
    transition: all 1s ease;
}

.nav-cart:hover path,
.nav-search:hover path {
    fill: var(--gold-color);
}

.nav-cart span {
    color: var(--white-color);
    text-transform: uppercase;
}

.nav-icons,
.nav-account {
    display: flex;
}

/* Main section */

.main {
    background: url("./../images/background.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #000;
    color: var(--white-color);
    padding-top: 160px;
    padding-bottom: 240px;
}

.main-info h1 {
    font-family: var(--marcellus-font);
    font-size: 54px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.main-info p {
    margin-bottom: 35px;
}

.main-info div {
    column-gap: 15px;
}

/* Store */

.section-title_big {
    font-size: 62px;
    font-family: var(--marcellus-font);
    color: var(--dark-color);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.section-title_small {
    font-size: 45px;
    font-family: var(--marcellus-font);
    color: var(--dark-color);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.store-info p {
    color: var(--grey-color);
    margin-bottom: 30px;
}

.store-img {
    max-width: 624px;
}

.store-img img {
    width: 100%;
}

.store-btn-wrapp {
    column-gap: 10px;
}

/* Products */

.products-text p {
    color: var(--grey-color);
}

.products-text h4 {
    margin: 10px 0;
}

.products-text {
    margin-bottom: 50px;
}

.image-container {
    display: flex;
    align-items: center;
    height: 370px;
    width: 270px;
    position: relative;
    justify-content: flex-end;
    overflow: hidden;
    flex-direction: column;
}

.image {
    width: 100%;
    height: 100%;
}

.image-text {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 240px;
    transition: 0.25s linear;
}

.image-text-btn {
    transition: 0.25s linear;
    transform: translateY(100%);
    text-transform: uppercase;
    font-weight: 500;
    background: none;
    border: none;
}

.image-text-btn_dark {
    color: #fff;
}

.image-container:hover .image-text-btn {
    bottom: 0px;
    transform: translateY(-50%);
    margin-top: 30px;
}

.image-text h4 {
    color: #000;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.image-text p {
    color: var(--grey-color);
}

.image-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.product-mb {
    margin-bottom: 30px;
}

.product-image img {
    width: 100%;
    transition: all 0.25s linear;
}

.product-image:hover img {
    transform: scale(1.1);
}

.image-text_white h4,
.image-text_white p {
    color: #fff;
}

/* Product items */

.product-title {
    font-family: var(--marcellus-font);
    color: var(--dark-color);
    margin-bottom: 5px;
    margin-top: 20px;
}

.product-desc {
    color: var(--grey-color);
    margin-bottom: 5px;
}

.product-price {
    color: var(--gold-color);
    font-weight: 700;
}

.product-item,
.product-wrapp {
    max-width: 250px;
    width: 100%;
}

.product-item img {
    width: 100%;
    height: 270px;
}

.slick-prev.slick-arrow {
    background: url("./../images/chevron-left.svg") center no-repeat;
    font-size: 0;
    border: none;
    margin-right: 17px;
}

.slick-next.slick-arrow {
    background: url("./../images/chevron-right.svg") center no-repeat;
    font-size: 0;
    border: none;
    margin-left: 17px;
}

.product-img {
    position: relative;
}

/* Box */

.box img {
    width: 100%;
}

.box-btn {
    margin-top: 20px;
    width: 119px;
}

/* Discoount */

.discount-desc {
    color: var(--grey-color);
    margin-bottom: 15px;
}

.discount-text li {
    margin-bottom: 10px;
    color: var(--grey-color);
}

.discount-text div {
    margin-bottom: 30px;
}

.discount h2 {
    font-size: 60px;
}

.discount h2 span {
    color: var(--gold-color);
}

.discount-btns {
    column-gap: 15px;
}

.discount-btn {
    width: 118px;
}

.discount-img img {
    width: 100%;
}

.discount-list li {
    column-gap: 10px;
}

.discount-list {
    margin-left: 30px;
}

/* Special offer */

.special-offer-text {
    width: 100%;
    justify-content: flex-end;
    display: flex;
    background: url("./../images/jewelry-banner-img-1.png") no-repeat;
}

.special-offer-text span,
.special-offer-text h4,
.special-offer-text p {
    color: var(--dark-color);
    margin-bottom: 10px;
}

.special-offer-text h4 {
    font-size: 54px;
}

.special-offer-text p,
.offer-featured-products p,
.offer-new-products p {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.special-offer-text p {
    margin-bottom: 30px;
}

.special-offer-text div {
    max-width: 295px;
    margin: 25px 0;
}

.offer-item img {
    max-width: 65px;
    height: 65px;
}

.offer-item p {
    text-transform: none;
    margin-bottom: 10px;
}

.offer-item span {
    color: var(--gold-color);
    font-weight: 700;
}

.offer-item {
    column-gap: 17px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--light-grey);
    background: #f4f4f4;
    margin-bottom: 15px;
}

.offer-item:last-child {
    margin-bottom: 0;
}

/* Blog */

.blog-text p,
.blog-text h4 {
    margin-bottom: 10px;
}

.blog-text {
    margin-bottom: 50px;
}

/* Posts */

.post-item {
    max-width: 345px;
}

.post-item-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-item img {
    max-width: 345px;
    width: 100%;
}

.post-item-avatar {
    display: flex;
    column-gap: 11px;
    color: rgba(119, 119, 119, 0.5);
}

.post-item-avatar img {
    max-width: 20px;
    width: 100%;
    height: 20px;
}

.post-item-text h5 {
    color: #000;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

.post-item-text p {
    color: var(--grey-color);
    text-align: center;
}

.post-item-text div {
    margin-bottom: 10px;
}

.post-item-text p {
    margin-bottom: 20px;
}

.post-item-text a {
    color: var(--gold-color);
    font-weight: 500;
    text-transform: uppercase;
}

.post-item-date span {
    font-size: 13px;
    text-transform: uppercase;
    line-height: 1.2;
}

.post-item-date span:first-child {
    font-size: 24px;
}

.post-item-attr {
    color: var(--white-color);
    max-width: 160px;
    width: 100%;
    background-color: var(--gold-color);
    font-size: 12px;
    text-transform: uppercase;
    line-height: 2;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.post-item-date {
    display: flex;
    padding: 5px 0;
    flex-direction: column;
    align-items: center;
    color: var(--dark-color);
    background-color: var(--white-color);
    width: 46px;
    position: absolute;
    left: 15px;
    top: 15px;
}

.post-item-img {
    position: relative;
    margin-bottom: 25px;
}

/* Footer */

footer {
    color: var(--grey-color);
    padding: 60px 0 70px;
    font-family: var(--lora-font);
}

.footer-contacts div {
    margin-bottom: 10px;
}

.footer-contacts div:last-child {
    margin-bottom: 0;
}

.footer-contacts div {
    column-gap: 5px;
}

.footer-info {
    margin-bottom: 30px;
}

.footer-logo {
    margin-bottom: 15px;
}

.post {
    column-gap: 15px;
}

footer h5 {
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: var(--marcellus-font);
}

.post h6 {
    text-transform: uppercase;
    color: var(--dark-color);
    margin-bottom: 11px;
    font-size: 14px;
    font-family: var(--marcellus-font);
    max-width: 224px;
}

.post span {
    opacity: 0.5;
}

.post:last-child {
    margin-top: 30px;
}

.footer-stores a,
.footer-links a {
    color: var(--grey-color);
}

.footer-stores li,
.footer-links li {
    margin-bottom: 10px;
}

.footer-stores li:last-child,
.footer-links li:last-child {
    margin-bottom: 0px;
}

/* Personal styles */
.wc-block-components-notice-banner.is-success {
    background-color: var(--main-bg) !important;
    border: none !important;
}

/* Modal */

.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    right: -100%;
    height: 100%;
    transform: translate3d(0%, 0, 0);
    max-width: 349px;
    width: 100%;
}

.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.right .modal-body {
    padding: 15px 15px 80px;
}

.modal.right.fade .modal-dialog {
    right: -100%px;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
    right: 0;
}

.modal-content {
    background-color: var(--white-color);
    border-radius: 0;
}

.modal-title {
    font-size: 18px;
    text-transform: uppercase;
    color: var(--dark-color);
}

.modal-header {
    border-bottom: 1px solid var(--Grey, #dfdfdf);
}

.btn.btn-secondary {
    width: 100%;
    color: var(--white-color);
}

.btn.btn-primary {
}

/* Search */

.search-active {
    display: none;
}

.search-hidden {
    display: none;
}

#headerSearchInput {
    text-align: center;
    width: 100%;
    border: 1px solid red;
    margin: 0 auto;
}

#headerSearchInput.active {
    max-width: 400px;
    animation: search-input 0.25s linear;
}

@keyframes search-input {
    from {
        opacity: 0;
        max-width: 550px;
    }

    to {
        opacity: 1;
        max-width: 400px;
    }
}
